*{
  text-align: center;
  font-family: monospace;
  color: #ffffff;
}
html{
  background: radial-gradient(#7f7f7f, #262626);
}
#info{
  width: 50%;
  margin-left: 300px;
}
#contact{
  margin-top: 75px;
}
